@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  color-scheme: dark;
}

html,body,#__next{
  height:100%;
}

body{
  @apply bg-slate-900 text-white antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

a{ @apply underline-offset-2 }

/* small helpers */
.text-brand { color: theme('colors.brand.500') }
